<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="BLL_DAL.Properties.Settings.Ql_CuaHangDTConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=Ql_CuaHangDT;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.Ql_CuaHangDTConnectionString1"
            connectionString="Data Source=KIMHUNG\SQLEXPRESS;Initial Catalog=Ql_CuaHangDT;Persist Security Info=True;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>